@charset "UTF-8";

$green: #3ebdaa;
$blue: #3fa2fc;
$yellow: #f9b42d;
$red: #eb2e3e;

/*----------------------------------------------------------
	mixin
----------------------------------------------------------*/
@mixin Gradient($start-color, $end-color, $opacity) {
  background: $start-color;
  background: linear-gradient(90deg, rgba($start-color,$opacity), rgba($end-color,$opacity));
}

@mixin Button($start-color, $end-color) {
  border-radius: 1.25rem;
  padding: 0 3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  background: $start-color;
  background: linear-gradient(90deg, $start-color, $end-color);
  transition: all .3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,.12), 0 0.125rem 0.125rem 0 rgba(0,0,0,.24);
  }
}

/*----------------------------------------------------------
	共通設定
----------------------------------------------------------*/
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  line-height: 1;
  color: #333333;
  height: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1, h3, h4, h5, h6, p, ol, ul, dl, dt, dd, figure ,button {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  outline: none;
  padding: .5rem;
  font-size: 1rem;
}

textarea {
  width: 100%;
  border: 0.063rem solid #7b7b7b;
  resize: none;
  outline: none;
  padding: .5rem;
  box-sizing: border-box;
  font-size: 1rem;
}

::-webkit-input-placeholder {
  color: #ccc;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a,
a:hover,
a:focus {
  color: #475876;
  text-decoration: none;
}

/* signin */
.sigin_Wrapper {
  @include Gradient($green, $blue, 0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .signin_Inner {
    background-color: #fff;
    padding: 3rem;
    width: 24rem;
    box-sizing: border-box;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.1);

    .signin_Input {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      border-bottom: 0.063rem solid #ccc;
      color: #ccc;

      + .signin_Input {
        margin-top: 1.5rem;
      }

      input {
        margin-left: .5rem;

        &:valid {
          + svg {
            color: $green;
          }
        }
      }
    }

    .signin_Button {
      @include Button($green, $blue);
      margin: 3rem auto 0;
      display: block;
      width: 100%;

      &:disabled {
        background: #ccc;

        &:hover {
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }
}

.wrapper {
  display: flex;
  background-color: #f9f9f9;
}

.nav {
  background-color: #000;
}

/*----------------------------------------------------------
	SP
----------------------------------------------------------*/
@media (max-width: 48rem) {
  .sigin_Wrapper {
    .signin_Inner {
      padding: 3rem 2rem;
      margin: 0 1rem;
    }
  }
}
